@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
.button{
     background-color: lightblue;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    border-radius: 25px;
    opacity: 0.6;
    width: 300px;
    font-family: 'Great Vibes', cursive;
    font-size: 1.2em;
}
.button:hover{
    background-color: aqua;
    transition: 0.2s ease;
    color: deeppink;
}
.button:active{
    background-color: aqua;
    color: deeppink;
}
.nav{
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: center;
}
body{
    background-image: url("PICS/clientbackground.PNG");
    font-size: 1.3em;
    font-family: 'Josefin Slab', serif;
    background-attachment: fixed;
}
.row1{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
   opacity: 0.8;
    padding: 10px;
}
.row2{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row3{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row4{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row5{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row6{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row7{
    display: flex;
    flex-direction: row;
     margin: auto;
  width: 70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row8{
    display: flex;
    flex-direction: row;
     margin: auto;
  width: 70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}

.slider {
	width: 1024px;
	margin: 2em auto;
	
}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.8s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
h1{
    text-align: center;
    font-family: 'Great Vibes', cursive;
}
h2{
    text-align: center;
    font-family: 'Great Vibes', cursive;
}
form{
    text-align: center;
}
.centerimg{
     display: block;
  margin-left: auto;
  margin-right: auto;
}