@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
.button{
     background-color: lightblue;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    border-radius: 25px;
    opacity: 0.6;
    width: 300px;
    font-family: 'Great Vibes', cursive;
    font-size: 1.2em;
}
.button:hover{
    background-color: aqua;
    transition: 0.2s ease;
    color: deeppink;
}
.nav{
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: center;
}
body{
    background-image: url("PICS/clientbackground.PNG");
    font-size: 1.3em;
    font-family: 'Josefin Slab', serif;
    background-attachment: fixed;
}
.row1{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row2{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row3{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row4{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row5{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row6{
    display: flex;
    flex-direction: row;
     margin: auto;
  width:  70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row7{
    display: flex;
    flex-direction: row;
     margin: auto;
  width: 70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.row8{
    display: flex;
    flex-direction: row;
     margin: auto;
  width: 70%;
  background-color: white;
    opacity: 0.8;
    padding: 10px;
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 964px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
h1{
    text-align: center;
    font-family: 'Great Vibes', cursive;
}