@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
.button{
     background-color: lightblue;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    border-radius: 25px;
    opacity: 0.6;
    width: 300px;
    font-family: 'Great Vibes', cursive;
    font-size: 1.2em;
}
.button:hover{
    background-color: aqua;
    transition: 0.2s ease;
    color: deeppink;
}
.nav{
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: center;
}
body{
    background-image: url("PICS/clientbackground.PNG");
    font-size: 1.3em;
    font-family: 'Josefin Slab', serif;
}
.row1{
     margin: auto;
  width: 50%;
  background-color: white;
  padding: 10px;
    opacity: 0.8;
}
.row2{
     margin: auto;
  width: 50%;
  background-color: white;
  padding: 10px;
    opacity: 0.8;
}